# Example file of backend environment variables you will need to set.

# Descope
DESCOPE_PROJECT_ID=your_descope_project_id_here
DESCOPE_MANAGEMENT_KEY=your_management_key_here
MCP_SERVER_ID=your_mcp_server_id_here

# MCP Server
MCP_SERVER_URL=http://localhost:5001

# Google
GOOGLE_CALENDAR_ID=primary

# AI Model
MODEL=anthropic/claude-opus-4-8
ANTHROPIC_API_KEY=your_anthropic_api_key_here
